:root {
    --accentcolor: rgb(255, 50, 50);
    --basecolor: rgb(154, 221, 255);
    --mutecolor: rgb(255, 255, 255);
}
* {
    box-sizing: border-box;
    color: var(--accentcolor);
    font-size: 25px;
    font-weight: bold;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    
}
.calculator {
    width: auto;
    background: var(--basecolor);
    padding: 5px;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
}
.row:nth-child(1) {
    padding-bottom: 3px;
}
.output,
button {
    height: 88px;
    border: none;
    margin: 2px;
    background-color: var(--mutecolor);
}
button {
    width: 88px;
    cursor: pointer;
}
button:nth-child(4) {
    background: var(--accentcolor);
    color: var(--mutecolor);
    margin-left: 5px;
}
button:hover {
    background: var(--basecolor);
    color: var(--mutecolor);
}
button:focus {
    outline: none;
    background: var(--basecolor);
    color: var(--mutecolor);
}
.output {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 276px;
    overflow: hidden;
}
.display {
    padding: 5px;
    font-size: 30px;
    text-align: right;
    white-space: nowrap;
}